<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('../assets/css/style.css') }}">
        {% endblock %}
        <title> Nathan Guillaume | Accueil</title>
    </head>
    {% block body %}
    <body>
        <header>
            <p class="header-title"><b>Nathan Guillaume</b></p>
            <nav>
                <ul class="header-link">
                    <li><a href="#">Moi</a></li>
                    <li><a href="#">Projets</a></li>
                    <li><a href="#">A propos</a></li>
                </ul>
            </nav>
            <a class="header-button" href="#">Contact</a>
        </header>

        <p class="presentation-title"><b>Nathan Guillaume</b></p>
        <p class="presentation-text">Developer - 14 years</p>

        <div class="zoom-image">
            <div class="zoom-image-big">
                <img src="{{ asset('../assets/img/me.png') }}" class="presentation-image">
            </div>
        </div>

        <img src="{{ asset('../assets/img/wave-2.svg') }}" class="wave-1">
        <img src="{{ asset('../assets/img/wave-3.svg') }}" class="wave-2">

        <section class="competences">
            <div class="competences-title">Compétences</div>
            <div class="skill" id="java">
                <svg id="java">
                    <circle id="java" cx="70px" cy="70px" r ="70px"></circle>
                    <circle id="java" cx="70px" cy="70px" r ="70px"></circle>
                </svg>
                <p id="java" class="skill-pourcentage">80%</p>
                <img id="java" class="skill-image" src="{{ asset('../assets/img/java.svg') }}">
            </div>

            <div class="skill" id="html">
                <svg id="html">
                    <circle id="html" cx="70px" cy="70px" r ="70px"></circle>
                    <circle id="html" cx="70px" cy="70px" r ="70px"></circle>
                </svg>
                <p id="html" class="skill-pourcentage">60%</p>
                <img id="html" class="skill-image" src="{{ asset('../assets/img/html.svg') }}">
            </div>

            <div class="skill" id="css">
                <svg id="css">
                    <circle id="css" cx="70px" cy="70px" r ="70px"></circle>
                    <circle id="css" cx="70px" cy="70px" r ="70px"></circle>
                </svg>
                <p id="css" class="skill-pourcentage">40%</p>
                <img id="css" class="skill-image" src="{{ asset('../assets/img/css.svg') }}">
            </div>

            <div class="skill" id="php">
                <svg id="php">
                    <circle id="php" cx="70px" cy="70px" r ="70px"></circle>
                    <circle id="php" cx="70px" cy="70px" r ="70px"></circle>
                </svg>
                <p id="php" class="skill-pourcentage">30%</p>
                <img id="php" class="skill-image" src="{{ asset('../assets/img/php.svg') }}">
            </div>

            <div class="skill" id="js">
                <svg id="js">
                    <circle id="js" cx="70px" cy="70px" r ="70px"></circle>
                    <circle id="js" cx="70px" cy="70px" r ="70px"></circle>
                </svg>
                <p id="js" class="skill-pourcentage">60%</p>
                <img id="js" class="skill-image" src="{{ asset('../assets/img/javascript.svg') }}">
            </div>

            <div class="skill" id="redis">
                <svg id="redis">
                    <circle id="redis" cx="70px" cy="70px" r ="70px"></circle>
                    <circle id="redis" cx="70px" cy="70px" r ="70px"></circle>
                </svg>
                <p id="redis" class="skill-pourcentage">85%</p>
                <img id="redis" class="skill-image" src="{{ asset('../assets/img/redis.svg') }}">
            </div>

            <div class="skill" id="rabbitmq">
                <svg id="rabbitmq">
                    <circle id="rabbitmq" cx="70px" cy="70px" r ="70px"></circle>
                    <circle id="rabbitmq" cx="70px" cy="70px" r ="70px"></circle>
                </svg>
                <p id="rabbitmq" class="skill-pourcentage">35%</p>
                <img id="rabbitmq" class="skill-image" src="{{ asset('../assets/img/rabbitmq.svg') }}">
            </div>

            <div class="skill" id="mongodb">
                <svg id="mongodb">
                    <circle id="mongodb" cx="70px" cy="70px" r ="70px"></circle>
                    <circle id="mongodb" cx="70px" cy="70px" r ="70px"></circle>
                </svg>
                <p id="mongodb" class="skill-pourcentage">65%</p>
                <img id="mongodb" class="skill-image" src="{{ asset('../assets/img/mongodb.svg') }}">
            </div>

            <div class="skill" id="mariadb">
                <svg id="mariadb">
                    <circle id="mariadb" cx="70px" cy="70px" r ="70px"></circle>
                    <circle id="mariadb" cx="70px" cy="70px" r ="70px"></circle>
                </svg>
                <p id="mariadb" class="skill-pourcentage">35%</p>
                <img id="mariadb" class="skill-image" src="{{ asset('../assets/img/mariadb.svg') }}">
            </div>

            <div class="skill" id="mysql">
                <svg id="mysql">
                    <circle id="mysql" cx="70px" cy="70px" r ="70px"></circle>
                    <circle id="mysql" cx="70px" cy="70px" r ="70px"></circle>
                </svg>
                <p id="mysql" class="skill-pourcentage">80%</p>
                <img id="mysql" class="skill-image" src="{{ asset('../assets/img/mysql.svg') }}">
            </div>

        </section>

        <section class="projets">
            <div class="projets-title">Projets</div>
            <div class="projects" id="homecenter">
                <p class="projects-title" id="homecenter">HomeCenter</p>
                <p class="projects-description" id="homecenter">
                    Depuis 2020, je me suis mis à l'<b>administration système & réseaux</b>. J'apprend donc cela sur différents serveurs privés hébergés dans ma chambre ...
                </p>
                <img class="projects-image" src="{{ asset('../assets/img/homecenter.jpg') }}" id="homecenter">
                <a href="/homecenter"><button class="projects-button" id="homecenter">➡</button></a>
            </div>

            <div class="projects" id="hydariel">
                <p class="projects-title" id="hydariel">Hydariel</p>
                <p class="projects-description" id="hydariel">
                    Hydariel est un serveur mini-jeux acceptant de la 1.8 à la 1.16. Des mini-jeux pour tous les goûts !
                </p>
                <img class="projects-image" src="{{ asset('../assets/img/hydariel.jpg') }}" id="hydariel">
                <a href="https://hydariel.net/"><button class="projects-button" id="hydariel">➡</button></a>
            </div>

            <div class="projects" id="github">
                <p class="projects-title" id="github">GitHub</p>
                <p class="projects-description" id="github">
                    Toutes mes crétions se retrouvent principalement sur mon github. La plus part de mes projets sont open source. Vous pouvez donc y avoir accès ...
                </p>
                <img class="projects-image" src="{{ asset('../assets/img/github.png') }}" id="github">
                <a href="https://github.com/Nathan-Guillaume"><button class="projects-button" id="github">➡</button></a>
            </div>
        </section>

        <footer>
            <img class="footer-wave" src="{{ asset('../assets/img/wave-1.svg') }}">
        </footer>

    </body>
    {% endblock %}
</html>
